html{
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 20em;
    min-height: 100%;
}

body, h1, h2, h3, h4, h5, p{
    font-family: 'Roboto', sans-serif;
    position: relative;
}

footer{
    bottom: 0px;
    width: 100%;
    position: absolute;
}

.address{
    padding-left: 5em;
}

.breadcrumb{
    background-color: transparent !important;
}

.btn-kemenkeu{
    background-color: #22487d;
    border-color: #22487d;
}

.content-section{
    background-color: #22487d;
    border-bottom-style: solid;
    border-bottom-width: 0.3em;
    color: rgb(255, 255, 255);
    padding: 5em;
}

.footer-section{
    background-color: #22487d;
    border-top-color: #FFCB05;
    border-top-style: solid;
    border-top-width: 0.3em;
    color: rgb(255, 255, 255);
    padding: 2em;
}

.home-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    background: #FFC807;
    background-size: 80% auto;
    border-radius: 50%;
}

.main-container{
    border-top: 5px;
    border-top-style: solid;
    border-top-color: #FFCB05;
    border-bottom: 5px;
    border-bottom-style: solid;
    border-bottom-color: #FFCB05;
}

.navbar{
    margin-bottom: 0px !important;
}

.navbar-menu{
    padding: 10px;
    background-color: rgba(255,255,255,.9);
}

.navbar-default{
    border-color: transparent;
    background-color: transparent;
}

.padding-top-5em{
    padding-top: 5em;
}

.phone-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    float: left;
    background: #0863AA url(https://www.kemenkeu.go.id/images/icon/ico-phone.svg)center center no-repeat;
    background-size: 100% auto;
    border-radius: 50%;
    margin-right: 5px;
}

.top-header{
    background-color: #22487d;
    padding: 10px;
    color: #ffffff;
}

.underline{
    text-decoration-color: #22487d;
    text-decoration-line: underline;
    text-decoration-style: solid;
}